.form{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.text{
  background: inherit;
  /* border: 1px solid; */
  outline:burlywood;
}
.btn{
  background: green;
  transform: translateY(-10px);

}
.list{
  color: white;
  border: 1px solid white;
}
