.form-wrapper{
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.wrap{
  /* width: 100px; */
  background-color: rgba(28, 208, 19, 0.95);
  /* border-top: 44px solid black; */
}
.wrap>*{
  color: white ;
}
button{
  color: white !important;

}
.wrap::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom,transparent, rgba(28, 208, 19, 1));
  width: 100%;
  height: 3em;
  transform: translateY(-95%);
}
::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface{
  overflow: visible !important;
  color: white !important;

}
