.text{
  background:inherit ;
  border: none;
  border-bottom:3px solid rgb(0, 141, 21);
  outline: none;
  margin-left: 5px;
  color: white;
  width: 200px;
  transition: 0.3s;
  padding: 4px;
}
.text:focus{
  width: 400px;
  box-shadow:  0 5px 5px -3px #01e710, 0 8px 10px 1px #01e710,0 3px 14px 2px #01e710;
  
}


